@import "~bootstrap/scss/bootstrap";

body {
  // background: rgb(56, 56, 56);
  font-family: iransans;
  color: white;
  height: 100%;
  // overflow: hidden;
}
.App {
  // height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // overflow: hidden;
}
.bg-app {
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.app-main {
  position: absolute;
  left: 0;
  top: 0;
}
@font-face {
  font-family: iransans;
  src: url(../public/iransans.ttf);
}
.dial-page {
  width: 100%;
  height: 100%;
}
.temp-video-bar {
  video {
    border: 1px solid rgb(134, 134, 134);
  }
}

.connecting {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  color: rgb(87, 87, 87);
  position: fixed;
  top: 0;
  left: 0;
  direction: rtl;
}
.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100vh;
  flex-direction: column;
}

.remote-video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  z-index: 2;
  max-height: 100vh;
  transform: scaleX(-1);
}
.local-video {
  z-index: 3;
  position: absolute;
  width: 20%;
  height: auto;

  border-radius: 5px;
  border-radius: 5px;
  left: 15px;
  top: 20px;
  transform: scaleX(-1);
}
.panel-bar {
  z-index: 3;
  margin-top: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 65px;

  .leave-call-button {
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    background: rgb(161, 59, 59);
    padding: 12px;
    border-radius: 50%;
  }
  .send-file-button {
    border-radius: 5px;
    color: white;
    border: none;
    width: 125px;
    background: rgb(50, 76, 163);
  }
}
.app-bg {
  height: 100vh;
  min-height: 640px;
  opacity: 0.3;
  position: absolute;
  animation: slide-bg 38s infinite alternate-reverse linear;
}
@keyframes slide-bg {
  from {
    left: 0px;
  }
  to {
    left: -250px;
  }
}
.bg-main-container {
  // position: absolute;
  // height: 100vh;
  // left: 0;
  // bottom: 0;
  // // top: 0;
  // width: 100%;
  // height: 100%;
  filter: invert(0.15);
  .bg-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;
    // height: 100%;
  }
}
::placeholder {
  color: rgb(173, 173, 173);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(173, 173, 173);
}

::-ms-input-placeholder {
  color: rgb(173, 173, 173);
}
